{% extends "base.html" %}

<script>
{% block jquery %}
	$(".item-qty").change(function(){
		// $(this).next(".upd-btn").fadeIn();

		// event.preventDefault();
		var item = $(this).prev("input[type='hidden']").val();
		var qty = $(this).val();
		var data = {
			item: item,
			qty: qty
		}
		$.ajax({
			type: "GET",
			url: " {% url 'cart' %}",
			data: data,
			success: function(data){
				$('#ajax-message').text("Added " + data.item_added + " Deleted " + data.deleted)
				if (data.deleted){
					$("#item-"+item).fadeOut();
					$('#subtotal').text(data.subtotal);
					$('#tax').text(data.tax);
					$('#total').text(data.total);
				}
				else{
					$("#item-line-total-"+item).text(data.line_total);
					$('#subtotal').text(data.subtotal);
					$('#tax').text(data.tax);
					$('#total').text(data.total);
				}
				if (data.total_items == 0 ){
					$(".table").fadeOut();
					var template = "{% include 'carts/empty_cart.html' %}";
					$(".cart-main-content").html(template);
				}

				showFlashMessage(data.flash_message);
				updateCartItemCount()
			},
			error: function(response, error) {
				$("#add-form").submit();
			}
		})


	});
{% endblock %}
</script>

{% block content %}

<div class='row cart-main-content'>
{% if object.cartitem_set.count < 1%}
{% include 'carts/empty_cart.html' %}
{% else %}
<div class='row'>
		<table class='table'>
		{% for item in object.cartitem_set.all %}
		<tr id='item-{{item.item.id}}'>
				<td>{{ item.item.get_title}}</td>
				<td><form action="." metod="GET" ><input type='hidden' name='item' value ='{{ item.item.id }}' /><input class='item-qty' type='number' name='qty' value ='{{ item.quantity }}' /><input type='submit' class='upd-btn btn btn-link' value='Update Item' style='display:none;' /></form></td>
				<td id='item-line-total-{{item.item.id}}'>{{ item.line_item_total }}</td>
				<td class='text-right'><a href='{{item.remove}}'> X</a></td>

		</tr>
		{% endfor %}
		</table>
		<div class='row'>
			<div class='col-md-12 pull-right'>

				<p class='text-right'><strong>Subtotal:</strong> <span id='subtotal' >{{object.subtotal}}</span></p>
				<p  class='text-right'><strong>Tax (Estimated):</strong> <span id='tax' >{{object.tax}}</span></p>
				<p class='text-right'><strong>Total:</strong> <span id='total' >{{object.total}}</span></p>
			</div>
		</div>
</div>
</div>
{% endif %}
{% endblock %}