/*Custom CSS File*/

body{
	font-family: 'Roboto', sans-serif;
}

.jumbotron{
	padding-top: 20px;
	background-color: #f6f6f6;
	max-height: 300px;

}
.jumbotron h1{
	padding-top: 20px;
	font-size: 58px;
}

.navbar{
	margin-bottom: 0;
	background-color: #27ae60;
	border: 1px solid #27ae60;
	border-radius: 0;
}
.jumbotron img{
	padding-left: 100px;
	margin-top: 0;
	max-height: 250px;
}

.navbar-default .navbar-brand {

	color: #fff;
}

.navbar-collapse .navbar-nav>li>a{
	color: #fff;
}

.navbar-default .navbar-toggle {
   border-color: transparent !important;
}
.navbar-toggle {
	background-color: #27ae60 !important;
}
.navbar-toggle:hover {
	background-color: #2abc68 !important;
}

.org-price {
	text-decoration: line-through;
	color: red;
}

.shopping-cart{
	font-size: 18px;
	vertical-align: middle;
}

.flash-alert-box{
	position: absolute;
	top: 10px;
	z-index: 50000;
	width: 100%;
	right: 0%;
	margin: 0px;
	display: none;
}
