{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>eCommerce</title>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" >
<link rel='stylesheet' href='{% static "css/custom.css" %}'>
</head>

<body>
	{% include 'navbar.html' %}

{% if messages %}
<div class='container'>
	<div class='row'>
		<div class='col-md-4'>
			<div class='alert alert-success'>
				{% for message in messages %}
				<p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p><br/>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endif %}


	{% block jumbotron %}
	{% endblock %}
	<div class='container'>
		{% block content %}
		{% endblock %}
	</div>
	{% include 'footer.html' %}
</body>

<!-- JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="{% static 'js/custom.js' %}"></script>


<script>

function updateCartItemCount(){
	var badge = $("#cart-count-badge");
	$.ajax({
		type: "GET",
		url: "{% url 'cart_count' %}",
		success:function(data){
			badge.text(data.count);
		},
		error: function(response, error){
			console.log(response)
			console.log(error)
		}
	})
}

$(document).ready(function(){

	updateCartItemCount()

	{% block jquery %}
	{% endblock %}
})
</script>

</html>