{% extends "base.html" %}

{% block jumbotron %}


<div class="jumbotron"  >
	<div class='container'>

<div class='row'>
  <div class='col-md-6'>
    <h1>Discover Products Worth Living For</h1>
    <!-- <p><a class="btn btn-primary btn-lg" href='{% url "product_list"%}' role="button">View Products</a></p> -->
    <form methon='GET' role='search' action='{% url "product_list" %}'>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="q">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
  <div class='col-md-6'>
    {% if featured_image %}
    <a href='{{ featured_image.product.get_absolute_url }}'><img src="{{ featured_image.image.url }}" class='img-responsive' /></a>
    {% endif %}
  </div>
  </div>


	</div>
</div>


{% endblock %}

{% block content %}

  <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <h2>Shop by Category</h2>
        {% for category in categories_list %}
          <div class='col-sm-4'>
            {% if category.get_category_image_url %}
                  <img class='img-responsive' src='{{ category.get_category_image_url }}' alt='{{category.title}} Image' />
            {% endif %}
            <div class="thumbnail text-center">
              <div class="caption">
                <h2><a href='{{ category.get_absolute_url }}'>{{category.title}}</a><h2>
                <p>{{category.description}}</p>
              </div>
            </div>

          </div>
          {% cycle '' '' '</div><div class="row">' %}
        {% endfor %}
      <!--   <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div> -->
    </div>
  </div>


{% endblock %}
