{% extends 'base.html' %}

{% block content %}

<h1> Categories <small><a href='{% url "product_list" %}'>All Products</a></small></h1>

<div class='row'>
{% for category in category_list %}


<div class='col-sm-3'>
				<div class="thumbnail text-center">
					{% if category.get_category_image_url %}
		              <img class='img-responsive' src='{{ category.get_category_image_url }}' alt='{{category.title}} Image' />
		            {% endif %}
					<div class="caption">
	        			<h3><a href='{{ category.get_absolute_url }}'>{{category.title}}</a></h3>
	        			<p>{{category.description}}</p>
      				</div>
				</div>
			</div>
			{% cycle '' '' '' ''  '</div><div class="row">' %}



{% endfor %}
</div>

{% endblock %}